body {
    font-family: sans-serif;
    
    margin-top: 75px;
    margin-left:0;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
               font-family: sans-serif;
               margin: 0 auto;
               color: blue;
               padding-top: 60px;
               max-width: 800px;            }
.footer {
    background-color:#707070;
    color:white;
    clear:both;
    text-align:center;
    margin-top:-20px;
    margin-left:20px;
    	 
}
